.main-navigation {
    position: relative;

    & .site-title {
        width: 50%;
        margin: 0 auto;
        line-height: 80px;
        text-align: center;
    }

    & .line {
        position: absolute;
        top: calc(50% - 1.5px);
        transition: all 0.2s ease-in-out;

        &:first-of-type {
            transform: translate3d(0, -5px, 0);
        }

        &:last-of-type {
            transform: translate3d(0, 5px, 0);
        }
    }

    & ul {
        position: relative;
        display: none;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: calc(100vh - 80px);
        background-color: #FFF5E9;
        opacity: 0;
        overflow: hidden;

        &::before {
            content: url('../foce/assets/images/orchid.png');
            position: absolute;
            top: 4.5em;
            left: -3.75em;
            @include flower-rotation;
        }

        &::after {
            content: url('../foce/assets/images/hibiscus_footer.png');
            position: absolute;
            bottom: -23em;
            right: -20em;
            @include flower-rotation;
        }
    }

    & li {
        font-size: 4em;

        & a {
            transition: all 0.2s ease-in-out;

            &:hover {
                color: inherit;
                text-shadow: 0px 0px 14px rgba(255, 92, 0, 1);
            }
        }
    }

    &.toggled {
        & .line {
            &:first-of-type {
                transform: translate3d(0, 0, 0) rotate(45deg);
            }

            &:nth-of-type(0n+2) {
                opacity: 0;
            }

            &:last-of-type {
                transform: translate3d(0, 0, 0) rotate(-45deg);
            }
        }

        & ul {
            display: flex;
            @include section-fade-in(0);
        }
    }
}

.menu {
    &__story {
        &::before {
            content: url('./assets/images/blue_cat.png');
            position: absolute;
            left: -6em;
            top: -0.5em;
            @include cat-floating(0.9s, normal);
        }

        &::after {
            content: url('./assets/images/Sunflower.png');
            position: absolute;
            right: -7.5em;
            top: -2.5em;
            @include flower-rotation;
        }
    }

    &__characters {
        &::after {
            content: "";
            background-image: url('../foce/assets/images/random_flower.png');
            background-size: 75px auto;
            position: absolute;
            top: 21px;
            right: -560px;
            width: 75px;
            height: 75px;
            @include flower-rotation;
        }
    }

    &__place {
        &::before {
            content: "";
            background-image: url('../foce/assets/images/flower.png');
            background-size: 71px auto;
            position: absolute;
            left: -8em;
            bottom: 20px;
            width: 71px;
            height: 71px;
            @include flower-rotation;
        }

        &::after {
            content: url('./assets/images/black_cat.png');
            position: absolute;
            top: -35px;
            right: -8em;
            width: 155px;
            height: 155px;
            @include cat-floating(0.45s, alternate);
        }
    }

    &__blank {
        min-height: 84px;

        &::before {
            content: url('./assets/images/orange_cat.png');
            position: absolute;
            top: 0;
            left: -640px;
            @include cat-floating(0, reverse);
        }
    }

    &__bottom {
        font-size: 14px !important;
        text-transform: uppercase;
    }
}

.menu-toggle {
    position: absolute;
    top: 30px;
    right: 132px;
    display: block;
    height: 20px;
    width: 20px;
    padding: 0 1em;
    box-sizing: content-box;
    cursor: pointer;
}

@media screen and (min-width: 700px) {
    .menu-toggle {
        display: block;
    }
}