@mixin section-fade-in($delay) {
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: $delay;
    animation-fill-mode: forwards;
    animation-name: fadeIn;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

@mixin flower-rotation() {
    animation: 20s linear infinite rotation;

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}

@mixin title-floating() {
    animation: 19s linear infinite floating;

    @keyframes floating {
        0% {
            transform: translate(0, 0);
        }

        15% {
            transform: translate(2em, -1em);
        }

        35% {
            transform: translate(-2em, 1em);
        }

        50% {
            transform: translate(0, 0);
        }

        65% {
            transform: translate(-2em, -1em);
        }

        85% {
            transform: translate(2em, 1em);
        }

        100% {
            transform: translate(0, 0);
        }
    }
}