.sectionTitle {
    display: inline-block;
    transform: translate3d(0, 100px, 0);
    opacity: 0;
    transition: all ease-in-out 500ms;

    &.on {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.banner {
    position: relative;
    opacity: 0;
    @include section-fade-in(0);

    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    &__logo {
        position: relative;
        z-index: 20;
        transition: top linear 0.2s;
        @include title-floating;

        &.off {
            animation-play-state: paused;
        }
    }
}

@media screen and (max-width: 425px) {
    .banner {
        &__video {
            display: none;
        }
    }
}

.story {
    opacity: 0;
    @include section-fade-in(2s);

    h2 {
        &::after {
            width: 155px;
            height: 155px;
            @include flower-rotation;
        }
    }

    &__article {
        &::after {
            @include flower-rotation;
        }
    }

    & #characters {
        width: calc(100% - 12em);
        flex-direction: column;

        & h3 {
            width: 600px;
        }

        & .swiper {
            width: 100vw;
            margin-left: calc(-6em - calc(calc(100vw - 1440px) / 2));

            & .swiper-slide {
                width: 400px !important;
            }
        }

    }

    & #place {
        position: relative;
        background-image: url('./assets/images/place_bg.png');
    }
}

#placeBigCloud {
    position: absolute;
    top: 65px;
    left: 1031px;
    width: 316px;
    height: 122px;
    background-image: url('./assets/images/big_cloud.png');
}

#placeLittleCloud {
    position: absolute;
    top: 248px;
    left: 793px;
    width: 142px;
    height: 55px;
    background-image: url('./assets/images/little_cloud.png');
}

#studio {
    opacity: 0;
    @include section-fade-in(4s);

    h2 {
        &::before {
            width: 203px;
            height: 203px;
            @include flower-rotation;
        }

        &::after {
            width: 109px;
            height: 109px;
            @include flower-rotation;
        }
    }
}

.oscar {
    position: relative;
    padding: 12em 0 6em;
    opacity: 0;
    @include section-fade-in(6s);



    &::after {
        content: url('../foce/assets/images/orchid.png');
        position: absolute;
        right: -4em;
        top: -4em;
        width: 173px;
        height: 173px;
        @include flower-rotation;
    }

    &>div {
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: 1041px;
        margin: auto;

        &::before {
            content: url("./assets/images/Sunflower.png");
            position: absolute;
            left: -8em;
            top: -11em;
            width: 216px;
            height: 216px;
            @include flower-rotation;
        }
    }

    &__annonce {
        width: 73.2%;
        height: 283px;
        background-image: url('./assets/images/fond_oscars.png');
        background-size: 100% 100%;

        &>p {
            display: inline-block;
            max-width: 586px;
            font-weight: bold;
            margin: 56.48px auto auto 67.91px;
            padding: 0;
            color: white;
            font-family: 'Quicksand', sans-serif;
            font-size: 2.625rem;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }

    &__logo {
        margin-top: 3.53em;
        width: 26.8%;
        height: 283px;
        background-image: url('./assets/images/oscars.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

}

.site-footer {
    opacity: 0;
    @include section-fade-in(8s);

    &::before {
        content: "";
    }

    &::after {
        content: "";
    }

    ul {
        &::after {
            @include flower-rotation;
        }
    }
}